name: Build and run tests

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'
    - name: Download linux-springboot-packager
      run: curl -L https://github.com/hdsdi3g/linux-springboot-packager/releases/download/0.8.0/linux-springboot-packager-0.8.0.deb -o linux-springboot-packager-0.8.0.deb
    - name: Install linux-springboot-packager
      run: sudo apt-get install ./linux-springboot-packager-0.8.0.deb
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: maven
    - name: Build Librespot snapshot
      working-directory: ./librespot-java
      run: mvn --batch-mode --update-snapshots -Dmaven.test.failure.ignore=true -DskipTests clean install
    - name: create Deb package
      run: make-springboot-deb .
    - name: create RPM package
      run: make-springboot-rpm .
    - name: Build with Maven
      run: mvn --batch-mode --update-snapshots -Dmaven.test.failure.ignore=true clean test
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v4
      with:
          include_passed: true
          fail_on_failure: true
          detailed_summary: true
          report_paths: 'target/surefire-reports/TEST-*.xml'
