name: Publish releases on new tag

on:
  push:
  #  branches: [ main ]
  #pull_request:
  #  branches: [ main ]
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - name: Install linux-springboot-packager dependencies
        run: sudo apt-get install -y --no-install-recommends man-db pandoc rpmlint rpm apt-utils xmlstarlet lintian wget
      - name: Download linux-springboot-packager
        run: wget https://github.com/hdsdi3g/linux-springboot-packager/releases/download/0.8.0/linux-springboot-packager-0.8.0.deb
      - name: Install linux-springboot-packager
        run: sudo dpkg -i linux-springboot-packager-0.8.0.deb
      - name: Install JDK 25
        uses: actions/setup-java@v3
        with:
          java-version: 25
          distribution: 'temurin'
          cache: 'maven'
      - name: Build Librespot snapshot
        working-directory: ./librespot-java
        run: mvn --batch-mode --update-snapshots -Dmaven.test.failure.ignore=true -DskipTests clean install
      - name: create Deb package
        run : make-springboot-deb .
      - name: create RPM package
        run: make-springboot-rpm .
      - name: create jar package
        run: mvn --batch-mode --update-snapshots package
      - name: Extract RPM file name
        run: echo "RPM_FILE=$(find . -type f -name "spotifydown*.rpm")" >> $GITHUB_ENV
      - name: Extract DEB file name
        run: echo "DEB_FILE=$(find . -type f -name "spotifydown*.deb")" >> $GITHUB_ENV
      - name: Extract JAR file name
        run: echo "JAR_FILE=$(find . -type f -name "spotifydown*.jar")" >> $GITHUB_ENV
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "${{ env.RPM_FILE }},${{ env.DEB_FILE }},${{ env.JAR_FILE }}"
